---
import Layout from "../layouts/Layout.astro";
import { Resend } from 'resend';

const APIKEY = import.meta.env.resendapi;
console.log(APIKEY);
const resend = new Resend("re_Rrdkz424_9QjAPBmJFsbJPWBfLQx3rmaa");

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const asunto = data.get("asunto") as string;
    const mensaje = data.get("mensaje") as string;
    const email = data.get("email") as string;
    const nombre = data.get("nombre") as string;
    
    await resend.emails.send({
      from: 'onboarding@resend.dev',
      to: 'gaspargomez2000@outlook.com',
      subject: asunto as string,
      html: `<p>${nombre}</p><p>${email}</p><p>${mensaje}</p>`
    });
    console.log("Correo electr칩nico enviado exitosamente");
    return(
      Astro.redirect("/contact")
      );
  } catch (error) {
    console.error("Error al enviar el correo electr칩nico:", error);
  }
}
---
<Layout>
  <form method="POST">
  <section class="flex flex-col gap-y-5">
    <h2 class="text-center">Cont치ctame</h2>
      <input type="text" name="nombre" placeholder="Nombre">
      <input type="text" name="asunto" placeholder="Asunto">
      <input name="email" placeholder="Correo electr칩nico" type="email"> 
      <textarea name="mensaje" placeholder="Mensaje" class="h-[190px]"></textarea>            
      <button class="bg-green-500 hover:bg-green-400 text-white w-[90px] h-[50px] m-auto">Enviar</button>
    </section>
  </form>
</Layout>

<style>
  input, textarea {
    @apply p-3 rounded-md border border-slate-600 w-3/6 m-auto;
  }
</style>
