---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h2>Contactame  </h2>
    <input placeholder="nombre" class="">
    <input placeholder="asunto" class="">
    <input placeholder="email" class="">
    <textarea placeholder="mensaje" class=""></textarea>
    
    <button type="submit" >Enviar</button>
</Layout>