---
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="justify-center flex gap-4 flex-wrap">

    <ProjectCard href='https://dolar-ggomez0.vercel.app' title='A cuanto esta?' 
    descripcion='Pagina que recupera los datos de los diferentes tipos de cambio en Argentina y los muestra' image='/public/dolarpro.webp'>        
    </ProjectCard>
    <ProjectCard href='https://dolar-ggomez0.vercel.app' title='A cuanto esta?' 
    descripcion='Pagina que recupera los datos de los diferentes tipos de cambio en Argentina y los muestra' image='/public/dolarpro.webp'>        
    </ProjectCard>
    <ProjectCard href='https://dolar-ggomez0.vercel.app' title='A cuanto esta?' 
    descripcion='Pagina que recupera los datos de los diferentes tipos de cambio en Argentina y los muestra' image='/public/dolarpro.webp'>        
    </ProjectCard>
    <ProjectCard href='https://dolar-ggomez0.vercel.app' title='A cuanto esta?' 
    descripcion='Pagina que recupera los datos de los diferentes tipos de cambio en Argentina y los muestra' image='/public/dolarpro.webp'>        
    </ProjectCard>
    <ProjectCard href='https://dolar-ggomez0.vercel.app' title='A cuanto esta?' 
    descripcion='Pagina que recupera los datos de los diferentes tipos de cambio en Argentina y los muestra' image='/public/dolarpro.webp'>        
    </ProjectCard>   
    </div>
</Layout>
