---
import HeaderLink from './HeaderLink.astro';
import HeaderLogo from './HeaderLogo.astro';
---

<header class="p-8">
	<nav class="flex justify-between mx-8">		
		<HeaderLogo/>
		<div class="m-auto">
			<HeaderLink href="/">Inicio</HeaderLink>
			<HeaderLink href="/projects">Proyectos</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/contact">Contáctame</HeaderLink>
		</div>

		<!-- <select>
			<option selected>Español</option>
			<option>Ingles</option>
		</select> -->

		<!-- <select>
			<option selected>Dark</option>
			<option>Light</option>
		</select> -->
	</nav>
</header>
